.symbolsView {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    height: 90%;
}

.symbolsView__content {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 20px;
}

@media (min-width: 1023px) {
    .symbolsView {
        height: 80%;
    }

    .symbolsView__chart {
        width: 400px;
    }

    .symbolsView__content {
        flex-direction: row;
    }
}