.symbolCard {
  margin: 10px;
  height: 170px;
  background-color: var(--colorWhite);
  border-radius: 3px;
  transition: transform 0.3s ease, width 0.5s ease
}

.symbolCard--noInfo {
  height: 70px;
}

.symbolCard--green {
  box-shadow: 0 0 20px var(--colorGreen) !important;
}

.symbolCard--red {
  box-shadow: 0 0 20px var(--colorRed) !important;
}

.symbolCard--active {
  transform: scale(1.04);
  box-shadow: 0 0 20px var(--colorDark);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.symbolCard--notActive {
  transform: scale(0.96);
  transition: transform 0.3s ease;
}

.symbolCard__header {
  position: relative;
  background-color: var(--colorDark);
  color: var(--colorWhite);
  padding-left: 5px;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
}

.symbolCard__header__trendIcon {
  position: absolute;
  right: -15px;
  top: -10px;
  width: 38px;
  height: 30px;
}

.symbolCard__shake {
  animation: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.symbolCard__content {
  padding: 5px;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-2px);
  }

  20%,
  80% {
    transform: translateX(4px);
  }

  25%,
  35%,
  45%,
  55%,
  65%,
  75% {
    transform: translateX(-6px);
  }

  30%,
  40%,
  50%,
  60%,
  70% {
    transform: translateX(6px);
  }
}
